@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
	--transition: ease-in-out .3s;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 20px;
	font-size: 16px;
	background-color: #f0f0f0;
	font-family: "Lora", serif;
  font-optical-sizing: auto;
	overflow-y: scroll;
}

.container {
	margin: 20px auto;
	max-width: 1200px;
	padding: 30px;
	padding-bottom: 70px;
	background-color: #fff;
	position: relative;
	column-gap: 50px;
}

h1 {
	font-size: 1.3rem;
	margin: 0;
}

h1 span {
	color: #23a08e;
	font-size: 1rem;
}

.import-btn {
	background-color: #8E23A0;
	display: flex;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 700;
	font-size: 14px;
	transition: ease-in-out .3s;
	color: #fff;
	position: absolute;
	right: 0;
	top: -45px;
}

.import-btn:hover {
	background-color: #5f186b;
}

.import-btn-wrap {
	position: relative;
}

.top-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 20px;
}

.top-wrap .right-side {
	display: flex;
	align-items: center;
	gap: 30px;
}

.hidden {
	display: none !important;
}

.tab-btns-wrap {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #666;
	gap: 1px;
	align-items: flex-end;
}

.tab-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: .9rem;
	padding: 7px 15px;
	line-height: 1.15;
	border: 1px solid #666;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 0;
	cursor: pointer;
	position: relative;
	bottom: 0;
	transition: ease-in-out .3s;
}

.tab-btn:hover {
	border-color: #23a08e;
	padding: 10px 15px;
}

.tab-btn.active {
	background-color: #23a08e;
	color: #fff;
	border-color: #23a08e;
	padding: 10px 15px;
	bottom: -1px;
}

.tab-item {
	display: none;
}

.tab-item.active {
	display: block;
}

.group-wrap {
	border: 1px solid #c0c0c0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: clip;
	margin-top: 10px;
}

.group-wrap.sub {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-left: none;
	border-right: none;
}

.group-wrap .group-name {
	cursor: pointer;
	margin: 0;
	padding: 10px 20px;
	font-size: 20px;
	line-height: 1;
	background-color: #f0f0f0;
	transition: ease-in-out .3s;
}

.group-wrap .sub-group-name {
	cursor: pointer;
	margin: 0;
	padding: 10px 20px;
	font-size: 17px;
	line-height: 1;
	background-color: #f0f0f0;
	transition: ease-in-out .3s;
}

.group-wrap.open .group-name {
	background-color: #23a08e;
	color: #fff;
}

.inputs-outer-wrap,
.sub-inputs-outer-wrap {
	display: none;
}

.inputs-wrap {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.inputs-wrap .input-item {
	display: flex;
	flex-direction: column;
	flex: 1 1 220px;
}

.inputs-wrap .input-item.full-width {
	flex: 0 0 100%;
}

.inputs-wrap .input-item label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.inputs-wrap .input-item input {
	padding: 5px 10px;
	border: 1px solid #c0c0c0;
}

.inputs-wrap .input-item input:focus {
	outline: none;
	border-color: #23a08e;
}





.generate-btn {
	display: flex;
	width: 200px;
	padding: 15px;
	line-height: 1;
	background-color: #00B200;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	cursor: pointer;
}

.final-code-wrap {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	position: relative;
}

.final-code-wrap textarea {
	width: 100%;
	height: 500px;
	resize: vertical;
	padding: 10px;
	border-style: dashed;
}

.final-code-wrap textarea:focus {
	outline: none;
}

.btns-wrap {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 40px;
}



.final-code-wrap label {
	font-weight: 700;
  font-size: 20px;
	margin-bottom: 10px;
}

.version {
	color: #aaa;
	font-size: 14px;
}

.copy-btn {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: #8E23A0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 25px;
}

.copy-text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 150%;
	transition: ease-in-out .3s;
	padding: 5px 10px;
	background-color: #e0e0e0;
	font-size: 12px;
	font-weight: 700;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
}

.copy-text.visible {
	opacity: 1;
	top: 120%;
}

.final-code-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}

.copy-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #8E23A0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 25px;
}

.copy-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150%;
  transition: ease-in-out .3s;
  padding: 5px 10px;
  background-color: #e0e0e0;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.final-code-wrap label {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.final-code-wrap textarea {
  width: 100%;
  height: 500px;
  resize: vertical;
  padding: 10px;
  border-style: dashed;
}
